<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="WeGame">
            <title><%= htmlWebpackPlugin.options.title || 'Webpack Template'%></title>
            <link href="../static/favicon.ico" rel="icon" >
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Homenaje&display=swap" rel="stylesheet">

            <% for (var css in htmlWebpackPlugin.files.css) { %>
            <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
            <% } %>
        </head>
<body class="index-page">

<div id="cursor"></div>
<div id="aura"></div>

<div class="cursor-dot-outline"></div>
<div class="cursor-dot"></div>

<header class="header">
    <nav class="header__links">
        <a href="/" class="header__link p_middle">Main</a>
        <a href="/news.html" class="header__link p_middle">News</a>
        <a href="/hoodie_mantle.html" class="header__link p_middle">Hoodie Mantle</a>
        <a href="/choose_colors.html" class="header__link p_middle">Coose Colors</a>
    </nav>
</header>


<!--<section class="section-light"></section>-->

<section class="section-dark showcase">

    <h2 class="showcase__header">Hoodie <span>Mantle</span></h2>
    <div class="showcase__content-wrapper">
        <div class="showcase__content">
            <div class="showcase-carousel">
                <div class="swiper-wrapper">

                    <div class="swiper-slide showcase-carousel__item">
                        <div class="showcase-carousel__image-wrapper">
                            <div class="showcase-carousel__image-left">
                                <div class="showcase-carousel__image" style="background-image: url(../img/slider/glow.png);"></div>
                            </div>
                            <div class="showcase-carousel__image-right">
                                <div class="showcase-carousel__image" style="background-image: url(../img/slider/glow.png);"></div>
                            </div>
                        </div>
                        <p>Front</p>
                    </div>

                    <div class="swiper-slide showcase-carousel__item">
                        <div class="showcase-carousel__image-wrapper">
                            <div class="showcase-carousel__image-left">
                                <div class="showcase-carousel__image" style="background-image: url(images/2.png);"></div>
                            </div>
                            <div class="showcase-carousel__image-right">
                                <div class="showcase-carousel__image" style="background-image: url(images/2.png);"></div>
                            </div>
                        </div>
                        <p>Front Two</p>
                    </div>

                    <div class="swiper-slide showcase-carousel__item">
                        <div class="showcase-carousel__image-wrapper">
                            <div class="showcase-carousel__image-left">
                                <div class="showcase-carousel__image" style="background-image: url(images/3.png);"></div>
                            </div>
                            <div class="showcase-carousel__image-right">
                                <div class="showcase-carousel__image" style="background-image: url(images/3.png);"></div>
                            </div>
                        </div>
                        <p>Side</p>
                    </div>

                    <div class="swiper-slide showcase-carousel__item">
                        <div class="showcase-carousel__image-wrapper">
                            <div class="showcase-carousel__image-left">
                                <div class="showcase-carousel__image" style="background-image: url(images/4.png);"></div>
                            </div>
                            <div class="showcase-carousel__image-right">
                                <div class="showcase-carousel__image" style="background-image: url(images/4.png);"></div>
                            </div>
                        </div>
                        <p>Back</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>

<!--<section class="section-light"></section>-->


<footer class="footer">
    <div class="container">
        <div class="social">
            <div class="subtitle p_large">Мы в социальных сетях:</div>
            <a href="#" class="link p_middle">instagram</a>
            <a href="#" class="link p_middle">facebook</a>
        </div>
        <nav class="footer__links">
            <a href="/" class="footer__link p_middle">Main</a>
            <a href="/news.html" class="footer__link p_middle">News</a>
            <a href="/hoodie_mantle.html" class="footer__link p_middle">Hoodie Mantle</a>
            <a href="/choose_colors.html" class="footer__link p_middle">Coose Colors</a>
        </nav>
        <div class="call">
            <div class="subtitle p_large">Мы в социальных сетях:</div>
            <a href="#" class="link p_middle">instagram</a>
            <a href="#" class="link p_middle">facebook</a>
        </div>
    </div>
</footer>

<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>
</body>
</html>

</title>
</head>
<body>

</body>
</html>