@import "../utils/media";
@import "../utils/vars";

.footer {
    min-height: 180px;
    background-color: $neutral-dark;
    padding: 50px 0 60px;
    color: #fff;
    .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @media #{$mobile}{
            flex-direction: column;
            align-items: center;
        }
    }
    .social {
        @media #{$mobile}{
            text-align: center;
        }
    }
    .call {
        text-align: right;
        @media #{$mobile}{
            text-align: center;
        }
    }
    .link {
        display: block;
        margin-top: 15px;
        color: #fff;
    }
    &__links {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 15px 0;
    }
    &__link {
        margin: 5px 10px;
        font-weight: bold;
        color: $neutral-white;
        &:last-child {
            margin-right: 0;
        }
        @media #{$mobile}{
            margin: 5px 10px;
        }
    }
}