// footer style

.footer {
  position: relative;
  height: 248px;
  clear: both;
  margin-top: -248px !important;
  @media ($desktopMax){
    margin-top: -308px !important;
  }
  @media #{$tablet}{
    margin-top: -319px !important;
  }
  @media #{$mobile}{
    margin-top: -439px !important;
  }
  @media only screen and (max-width : 480px){
    margin-top: -455px !important;
  }
}

.footer {
  background-color: #1B0945;
  color: #fff;
}
